apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: bookings.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: Booking
    listKind: BookingList
    plural: bookings
    singular: booking
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Booking is the Schema for the bookings API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BookingSpec defines the desired state of Booking
            properties:
              endAt:
                description: EndAt is the end time of the booking
                type: string
              notifications:
                description: Notifications is a list of notification configurations
                items:
                  properties:
                    email:
                      description: Email notification configuration
                      properties:
                        to:
                          description: To is the email address to send notifications to
                          type: string
                      type: object
                    slack:
                      description: Slack notification configuration
                      properties:
                        channel:
                          description: Channel is the Slack channel to send notifications to
                          type: string
                        webhook:
                          description: Webhook is the Slack webhook URL
                          type: string
                      type: object
                  type: object
                type: array
              resourceName:
                description: ResourceName is the name of the resource to book
                type: string
              startAt:
                description: StartAt is the start time of the booking
                type: string
              userID:
                description: UserID is the ID of the user making the booking
                type: string
            required:
            - endAt
            - resourceName
            - startAt
            - userID
            type: object
          status:
            description: BookingStatus defines the observed state of Booking
            properties:
              notificationSent:
                description: NotificationSent indicates whether notifications have been sent
                type: boolean
              status:
                description: Status is the current status of the booking
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: bookingschedulers.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: BookingScheduler
    listKind: BookingSchedulerList
    plural: bookingschedulers
    singular: bookingscheduler
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: BookingScheduler is the Schema for the bookingschedulers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BookingSchedulerSpec defines the desired state of BookingScheduler
            properties:
              cronExpression:
                description: CronExpression is the cron expression for scheduling
                type: string
              endTime:
                description: EndTime is the end time for the scheduler
                type: string
              resourceName:
                description: ResourceName is the name of the resource to schedule
                type: string
              startTime:
                description: StartTime is the start time for the scheduler
                type: string
              userID:
                description: UserID is the ID of the user for the scheduler
                type: string
            required:
            - cronExpression
            - resourceName
            - userID
            type: object
          status:
            description: BookingSchedulerStatus defines the observed state of BookingScheduler
            properties:
              lastRunTime:
                description: LastRunTime is the last time the scheduler ran
                format: date-time
                type: string
              nextRunTime:
                description: NextRunTime is the next time the scheduler will run
                format: date-time
                type: string
              status:
                description: Status is the current status of the scheduler
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: resources.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: Resource
    listKind: ResourceList
    plural: resources
    singular: resource
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Resource is the Schema for the resources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ResourceSpec defines the desired state of Resource
            properties:
              bookedBy:
                description: BookedBy is the ID of the user who has booked this resource
                type: string
              bookedUntil:
                description: BookedUntil is the time until which this resource is booked
                type: string
              tag:
                description: Tag is the tag used to identify this resource
                type: string
              type:
                description: Type is the type of resource (e.g., ec2, rds)
                type: string
            required:
            - tag
            - type
            type: object
          status:
            description: ResourceStatus defines the observed state of Resource
            properties:
              instances:
                description: Instances is the number of available instances
                type: integer
              lockedBy:
                description: LockedBy is the ID of the user who has locked this resource
                type: string
              lockedUntil:
                description: LockedUntil is the time until which this resource is locked
                format: date-time
                type: string
              running:
                description: Running is the number of running instances
                type: integer
              status:
                description: Status is the current status of the resource
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: resourcemonitors.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: ResourceMonitor
    listKind: ResourceMonitorList
    plural: resourcemonitors
    singular: resourcemonitor
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ResourceMonitor is the Schema for the resourcemonitors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ResourceMonitorSpec defines the desired state of ResourceMonitor
            properties:
              type:
                description: Type is the type of resource to monitor (e.g., ec2, rds)
                type: string
            required:
            - type
            type: object
          status:
            description: ResourceMonitorStatus defines the observed state of ResourceMonitor
            properties:
              lastSyncTime:
                description: LastSyncTime is the last time the monitor synced
                format: date-time
                type: string
              status:
                description: Status is the current status of the monitor
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {} 