---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - manager.kotaico.de
  resources:
  - bookings
  - bookingschedulers
  - resourcemonitors
  - resources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - manager.kotaico.de
  resources:
  - bookings/finalizers
  - bookingschedulers/finalizers
  - resourcemonitors/finalizers
  - resources/finalizers
  verbs:
  - update
- apiGroups:
  - manager.kotaico.de
  resources:
  - bookings/status
  - bookingschedulers/status
  - resourcemonitors/status
  - resources/status
  verbs:
  - get
  - patch
  - update
