{{- if .Values.crd.install }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  name: resources.manager.kotaico.de
  labels:
    {{- include "resource-booking-operator.labels" . | nindent 4 }}
spec:
  group: manager.kotaico.de
  names:
    kind: Resource
    listKind: ResourceList
    plural: resources
    singular: resource
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.locked_by
      name: LOCKED BY
      type: string
    - jsonPath: .status.locked_until
      name: LOCKED UNTIL
      type: string
    - jsonPath: .status.instances
      name: INSTANCES
      type: integer
    - jsonPath: .status.running
      name: RUNNING
      type: integer
    - jsonPath: .status.status
      name: STATUS
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Resource is the Schema for the resources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ResourceSpec defines the desired state of Resource
            properties:
              booked_by:
                type: string
              booked_until:
                type: string
              tag:
                type: string
              type:
                type: string
            required:
            - booked_by
            - booked_until
            - tag
            - type
            type: object
          status:
            description: ResourceStatus defines the observed state of Resource
            properties:
              instances:
                type: integer
              locked_by:
                type: string
              locked_until:
                type: string
              running:
                type: integer
              status:
                type: string
            required:
            - instances
            - locked_by
            - locked_until
            - running
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end }} 