---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: bookings.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: Booking
    listKind: BookingList
    plural: bookings
    singular: booking
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.start_at
      name: START
      type: string
    - jsonPath: .spec.end_at
      name: END
      type: string
    - jsonPath: .status.status
      name: STATUS
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Booking is the Schema for the bookings API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BookingSpec defines the desired state of Booking
            properties:
              end_at:
                type: string
              notifications:
                items:
                  properties:
                    recipient:
                      type: string
                    type:
                      type: string
                  required:
                  - recipient
                  - type
                  type: object
                type: array
              resource_name:
                type: string
              start_at:
                type: string
              user_id:
                type: string
            required:
            - end_at
            - resource_name
            - start_at
            - user_id
            type: object
          status:
            description: BookingStatus defines the observed state of Booking
            properties:
              notification_sent:
                type: boolean
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
