---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: bookingschedulers.manager.kotaico.de
spec:
  group: manager.kotaico.de
  names:
    kind: BookingScheduler
    listKind: BookingSchedulerList
    plural: bookingschedulers
    singular: bookingscheduler
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.schedule
      name: SCHEDULE
      type: string
    - jsonPath: .spec.start_time
      name: START TIME
      type: string
    - jsonPath: .spec.end_time
      name: END TIME
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: BookingScheduler is the Schema for the bookingschedulers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BookingSchedulerSpec defines the desired state of BookingScheduler
            properties:
              end_at:
                type: string
              end_time:
                type: string
              notifications:
                items:
                  properties:
                    recipient:
                      type: string
                    type:
                      type: string
                  required:
                  - recipient
                  - type
                  type: object
                type: array
              resource_name:
                type: string
              schedule:
                type: string
              start_at:
                type: string
              start_time:
                type: string
              user_id:
                type: string
            type: object
          status:
            description: BookingSchedulerStatus defines the observed state of BookingScheduler
            properties:
              next:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
